ion-avatar{
  height: 40px;
  width: 40px;
}

.header-icon{
  font-size: 1.6em;
  margin-right: 10px;
}

ion-content{
  --background: aliceblue;
}

.description{
  font-size: 0.7em;
  margin-top: -10px;
}

ion-item{
  margin-top: 20px;
}

.date{
  margin-top: 16px;
  margin-bottom: -10px;
}
